{% extends 'base.html.twig' %}

{% block body %}
    {% include 'todo/header.html.twig' %}

    <h2 class="page-header">Add Todo</h2>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}

    {% include 'todo/footer.html.twig' %}
{% endblock %}